# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/
mlenv/
*.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore API keys / secrets
.env
config_local.py
keys/
*.key
*.pem

# Ignore guides and documentation files
 guides.md
